<html xmlns:th="http://www.thymeleaf.org" lang="en">

<header th:insert="blocks/header :: header"></header>
<body th:insert="blocks/navigation :: navigation"></body>

<div class="shops">
    <div th:each="shop : ${coffeeShops}">
        <div class="one-shop">
            <h2>Shop</h2>
            <div class="shop-about">
                <img th:src="@{${'/miracleCoffee/displayCoffeeShop?id=' + shop.getId()}}">
                <div class="shop-text">
                    <h3 th:text="${shop.getStreet()}"/>
                    <a th:href="@{/miracleCoffee/shop/{id}(id=${shop.getId()})}">open</a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
