<html xmlns:th="http://www.thymeleaf.org" lang="en">

<header th:insert="blocks/header :: header"></header>
<body th:insert="blocks/navigation :: navigation"></body>


<div th:each="el : ${workerList}" class="works-by-place">
    <div th:if="${el.getCoffeShop().getStreet() == streetF}">
        <div class="work-list">
            <div class="worker">
                <div class="toper">
                    <h2 th:text="${el.getTitle()}"/>
                    <div class="eyes">
                        <p th:text="${el.getViews()}"/>
                        <img src="/img/eye.PNG">
                    </div>
                </div>

                <img th:src="@{${'/miracleCoffee/display?id=' + el.getId()}}">

                <p th:text="${el.getDescription()}"/>

                <div class="worker-text">
                    <h3 th:text="Salary + ': ' + ${el.getSalary()}"/>
                    <a th:href="@{/miracleCoffee/vacancy/{id}(id=${el.getId()})}">Registry</a>
                </div>
            </div>

            <div th:if="${workers.totalPages > 0}" class="div-page">

                <div th:each="pageNumber : ${numbers}">
                    <a th:href="@{'/miracleCoffee/work/${}?page='' + ${pageNumber} + '&size=' + ${workers.getSize()}}"
                       th:text="${pageNumber + 1}"
                       th:if="${pageNumber == workers.getNumber()}"
                       id="select-page"></a>

                    <a th:href="@{'/miracleCoffee/work?page=' + ${pageNumber} + '&size=' + ${workers.getSize()}}"
                       th:text="${pageNumber + 1}"
                       th:if="${pageNumber != workers.getNumber()}"
                       class="pages-text"></a>

                </div>
            </div>

        </div>
    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
